<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
    body {
    margin-left: 50px;
    margin-right: 50px;
        font-family: "Roboto", sans-serif;
        font-size: .85em;
    }
    table {
        page-break-inside: avoid;
    }
    th, td {
        padding: 5px;        
        border: 0px solid gray;
        margin: 0;
    }
    .header {
        font-size: .70em;
    }
    .mytable {
        border: 2px solid;
        border-collapse: collapse;        
        margin-top: 10px;
    }
    .mytable tr:nth-of-type(odd) {
        background: #f5f5f5;
    }

    .tableheader {
        background-color: #4DB848 !important;
    }
    .subtableheader {
        background-color: #dbe5f1;
    }
    .map {

       display: block;
       max-width:500px;
       max-height:700px;
       width: auto;
       height: auto;        
       padding-top: 20px;
       margin: 20px;
       /* height:700px;
        max-width:500px;
        width: expression(this.width > 500 ? 500: true);*/
    }
    .samepage {
        page-break-inside: avoid;
    }
</style>

<table width="100%"><tr><td align="center">

    <table width="90%" border="0">
        <tr>
            <td align="left" width="100px">
                <img height="100px" src="http://sblogg-test.appspot.com/images/sbskog-logo.png">
            </td>
            <td align="left" class="header">
                <b>SB SKOG AS</b><br/>
                Postboks 500, Sentrum<br/>
                3504 Hønefoss<br/>
                Tlf.: 46833333<br/>
                firmapost@sbskog.no<br/>
                Org. nr: <br/>NO 876 685 582 MVA <br/>
                Bankkonto: <br/>6164 05 41163
            </td>
            <td align="right" valign="top" width="60%">
                <h1>Sluttrapport - {{Tiltak}}</h1>
                <h3>{{Navn}}</h3>
                <h4>Entreprenør: {{Entreprenør.Navn}} | Kontrakt: {{KontraktProsjekt}}</h4>
            </td>
        </tr>
    </table>

    <table width="90%" border="0">
        <tr>
            <td>
Til {{Fornavn}} {{Etternavn}}<br/>
Vi viser til avtalt oppdrag. Arbeidet er nå utført og vi har registrert følgende informasjon fra oppdraget som du kan bruke
som grunnlag til skogfondsregistrering og eventuelle tilskuddsmidler og oppdatering av bestandsoversikt.
            </td>
        </tr>
    </table>

    <!-- OPPLYSNINGER OM OPPDRAGET -->  
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2 width="50%"><b>Opplysninger om oppdraget:</b></td>
            <td colspan=2 align="right"><b>Oppdragsdato: {{RegDato}}</b></td>
        </tr>
        <tr>
            <td>Skogeier:</td><td colspan=3>{{Fornavn}} {{Etternavn}} {{LevNr}}-{{Internnummer}}</td>
        </tr>
        <tr>
            <td>Driftsansvarlig:</td>
            <td colspan=3>{{Planlegger.Navn}}, tlf {{Planlegger.Tlf}}, {{Planlegger.epost}}</td>
        </tr>
        <tr>
            <td>Proveniens:</td>
            <td colspan=3>{{Proveniens}}</td>
        </tr>
        <tr>
            <td>Referansenummer:</td>
            <td colspan=3>{{Referansenr}}</td>
        </tr>
        <tr>
            <td>Generelt om oppdraget:</td>
            <td colspan=3>{{GenereltOmOppdr}}</td>
        </tr>
        <tr>
            <td>Areal oppmerket:</td>
            <td colspan=3>{{Oppmerket}}</td>
        </tr>
        <tr>
            <td>Treslag:</td>
            <td colspan=3>{{Treslag}}</td>
        </tr>
        <tr>
            <td>Bonitet:</td>
            <td colspan=3>{{Bonitet}}</td>
        </tr>
        <tr>
            <td>Høyde over havet:</td>
            <td colspan=3>{{HOH}}</td>
        </tr>
        <tr>
            <td>Pris pr plante:</td>
            <td colspan=3>{{PrisPrPlante}}</td>
        </tr>
        <tr>
            <td>Pris pr plante m/planting:</td>
            <td colspan=3>{{PrisPrPlantePlanting}}</td>
        </tr>
        <tr>
            <td>Totalt antall plantet:</td>
            <td colspan=3>{{TotalAntPl}}</td>
        </tr>
    </table>

    <p></p>


    
    <!-- DELOMRÅDE/BESTAND -->
  <!-- DELOMRÅDE/BESTAND TØMMERDRIFT -->
    {{#tiltakPlanting}}
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="50%"><b>Delområde/bestand:</b></td>            
            <td><b>{{Navn}}</b></td>
        </tr>
        <tr><td>Type planting:</td><td>{{TypPl}}</td></tr>
        <tr><td>Planlagt areal:</td><td>{{Areal}}</td></tr>        
        <tr><td>Planlagt antall pr da:</td><td>{{PlanlAntPlPrDaa}}</td></tr>        
        <tr><td>Antall plantet:</td><td>{{AntPl}}</td></tr>        
        <tr><td>Målt antall planter:</td><td>{{MaltAntPl}}</td></tr>        
    </table>
    {{/tiltakPlanting}}

    
   <!-- INTERNAL CONTROL -->  
    <table class="mytable" width="100%" border="1">
        <tr class="tableheader">
            <td colspan="5"><b>Internkontroll</b></td>            
        </tr>
        <tr>
            <td colspan="4">Referansenummer</td>            
            <td>{{SKInspection.RefNr_Number}}</td>            
        </tr>
        <tr>
            <td colspan="4">Plantene er grønne og fri for mekanisk skade?</td>            
            <td>{{SKInspection.MoistGreen_Switch}}</td>            
        </tr>
        <tr>
            <td colspan="4">Plantene har vært beskyttet under transport, lagret i skyggen og fått vann ved behov?</td>            
            <td>{{SKInspection.TransportCovered_Switch}}</td>            
        </tr>
        <tr>
            <td colspan="4">Kontrollert antall planter på feltet?</td>            
            <td>{{SKInspection.NumPlants_Switch}}</td>            
        </tr>
        <tr>
            <td colspan="4">Planteavstand ok?</td>            
            <td>{{SKInspection.PlantSpace_Switch}}</td>            
        </tr>
        <tr>
            <td colspan="4">Plantedybde ok?</td>            
            <td>{{SKInspection.PlantingDepth_Switch}}</td>            
        </tr>
        <tr>
            <td colspan="4">Søppel er fjernet?</td>            
            <td>{{SKInspection.WasteRemoved_Switch}}</td>            
        </tr>
        <tr>
            <td colspan="4">Planlagt areal plantet?</td>            
            <td>{{SKInspection.PlannedAcreage_Switch}}</td>            
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>                        
        </tr>
        <tr class="subtableheader">
            <td></td>            
            <td><b>Areal</b></td>            
            <td><b>Antall registreringer</b></td>            
            <td><b>Snitt</b></td>            
            <td><b>Planter pr dekar</b></td>            
        </tr>        
        {{#SKSites}}
        <tr>
            <td>{{Name}}</td>            
            <td>{{Area}}</td>            
            <td>{{NumRegs}}</td>            
            <td>{{AverageValue}}</td>            
            <td>{{ValuePrDa}}</td>            
        </tr>        
        {{/SKSites}}
    </table>

    

    <figure class="samepage">
        <!-- extra={"TiltakWMS": "FILTER=Tiltak:\"OID\" = 1234;"} -->
      <img class="map" src="{{oversiktskart}}&layername=Rapporter&extra=%7B%22TiltakWMS%22%3A%20%22FILTER%3DTiltak%3A%5C%22OID%5C%22%20%3D%20{{OID}}%3B%22%7D" alt="" >
      <figcaption>Overview {{Navn}}</figcaption>
    </figure>


    {{#tiltakPlanting}}
    <figure class="samepage">
        <!-- extra={"TiltakWMS": "FILTER=Tiltak:\"OID\" = 1234;Tiltak:\"DID\" = 1234;"} -->
      <img class="map" src="{{detaljkart}}&layername=Rapporter&extra=%7B%22TiltakWMS%22%3A%20%22FILTER%3DTiltak%3A%5C%22OID%5C%22%20%3D%20{{OID}}%3BTiltak%3A%5C%22DID%5C%22%20%3D%20{{DID}}%3B%22%7D" alt="" >
      <figcaption>{{Navn}}</figcaption>
    </figure>
    {{/tiltakPlanting}}


    </td></tr></table>


</body>
</html>
