<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
}
th, td {
    padding: 5px;        
    border: 0px solid gray;
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    background-color: #4DB848 !important;
}
.subtableheader {
    background-color: #dbe5f1 !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
</style>


    <table width="90%" border="0">
        <tr>
            <td align="left" width="100px">
                <img height="100px" src="http://sblogg-prd.appspot.com/images/sbskog-logo.png">
            </td>
            <td align="left" class="header">
                <b>SB SKOG AS</b><br/>
                Postboks 500, Sentrum<br/>
                3504 Hønefoss<br/>
                Tlf.: 46833333<br/>
                firmapost@sbskog.no<br/>
                Org. nr: <br/>NO 876 685 582 MVA <br/>
                Bankkonto: <br/>6164 05 41163
            </td>
            <td align="right" valign="top" width="60%">
                <h1>Sluttrapport - {{Tiltak}}</h1>
                <h3>{{Navn}}</h3>
                <h4>Entreprenør: {{EntrepKultur}} | Kontrakt: {{KontraktProsjekt}}</h4>
            </td>
        </tr>
    </table>

    <table width="90%" border="0">
        <tr>
            <td>
Til {{Fornavn}} {{Etternavn}}<br/>
Vi viser til avtalt oppdrag. Arbeidet er nå utført og vi har registrert følgende informasjon fra oppdraget som du kan bruke
som grunnlag til skogfondsregistrering og eventuelle tilskuddsmidler og oppdatering av bestandsoversikt.
            </td>
        </tr>
    </table>

    <!-- OPPLYSNINGER OM OPPDRAGET -->  
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2 width="50%"><b>Opplysninger om oppdraget:</b></td>
            <td colspan=2 align="right"><b>Oppdragsdato: {{RegDato}}</b></td>
        </tr>
        <tr>
            <td>Skogeier:</td><td colspan=3>{{Fornavn}} {{Etternavn}} {{LevNr}}-{{Internnummer}}</td>
        </tr>
        <tr>
            <td>Driftsansvarlig:</td>
            <td colspan=3>{{Planlegger.Navn}}, tlf {{Planlegger.Tlf}}, {{Planlegger.epost}}</td>
        </tr>
        <tr>
            <td>Generelt om oppdraget:</td>
            <td colspan=3>{{GenereltOmOppdr}}</td>
        </tr>
        <tr>
            <td>Areal oppmerket:</td>
            <td colspan=3>{{Oppmerket}}</td>
        </tr>
        <tr>
            <td>Treslag:</td>
            <td colspan=3>{{Treslag}}</td>
        </tr>
        <tr>
            <td>Bonitet:</td>
            <td colspan=3>{{Bonitet}}</td>
        </tr>
        <tr>
            <td>Høyde over havet:</td>
            <td colspan=3>{{HOH}}</td>
        </tr>
    </table>

    <p></p>


    
    <!-- DELOMRÅDE/BESTAND -->
    {{#tiltakForhåndsrydding}}
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="33%"><b>Delområde/bestand:</b></td>            
            <td>{{Navn}}</td>
        </tr>
        <tr><td>Planlagt areal:</td><td>{{Areal}}</td></tr>
        <tr><td>Utført areal i henhold til planlagt:</td><td>{{UtfortArealPlanlagt}}</td></tr>        
        <tr><td>Merknad:</td><td>{{Merknad}}</td></tr>        
    </table>
    {{/tiltakForhåndsrydding}}


    

    

    <figure>
        <h3>Overview {{Navn}}</h3>
        <!-- extra={"{{Tiltak}}WMS": "OID={{OID}}"} -->
        <img class="map" src="{{oversiktskart}}&layername=Rapporter{{Tiltak}}&extra=%7B%22{{Tiltak}}WMS%22%3A%20%22OID%3D{{OID}}%22%7D" alt="" />      
    </figure>


    {{#tiltakTømmerdrift}}
    <figure>
      <h3>Subarea/site {{TiltakNavn}}</h3>
      <!-- extra={"{{Tiltak}}WMS": "OID={{OID}}&DID={{DID}}"} -->
      <img class="map" src="{{detaljkart}}&layername=Rapporter{{Tiltak}}&extra=%7B%22{{Tiltak}}WMS%22%3A%20%22OID%3D{{OID}}%26DID%3D{{DID}}%22%7D" alt="" />      
    </figure>
    {{/tiltakTømmerdrift}}


    <img style="width: 50%;height: auto;" src="https://bitbucket.org/sbskog/sblogg-config/raw/master/tegnforklaring.png" alt=""/>


</body>
</html>
