<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
}
th, td {
    padding: 5px;        
    border: 0px solid gray;
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    background-color: #4DB848 !important;
}
.subtableheader {
    background-color: #dbe5f1 !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.samepage {
    page-break-inside: avoid;
}
</style>


    <table width="90%" border="0">
        <tr>
            <td align="left" width="100px">
                <img height="100px" src="http://sblogg-prd.appspot.com/images/sbskog-logo.png">
            </td>
            <td align="left" class="header">
                <b>SB SKOG AS</b><br/>
                Postboks 500, Sentrum<br/>
                3504 Hønefoss<br/>
                Tlf.: 46833333<br/>
                firmapost@sbskog.no<br/>
                Org. nr: <br/>NO 876 685 582 MVA <br/>
                Bankkonto: <br/>6164 05 41163
            </td>
            <td align="right" valign="top" width="60%">
                <h1>Sluttrapport - {{Tiltak}}</h1>
                <h3>{{Fornavn}} {{Etternavn}}</h3>
                <h4>Entreprenør: {{Entreprenør.Navn}} | Kontrakt: {{KontraktProsjekt}}</h4>
            </td>
        </tr>
    </table>

    <table width="90%" border="0">
        <tr>
            <td>
Til {{Fornavn}} {{Etternavn}}<br/>
Skogsdriften på din eiendom er nå avsluttet. Skogsdriften er gjennomført for å optimalisere tømmerverdiene. Gjeldende
miljøstandard, lover og forskrifter er fulgt.<br/>
Oppgjør for tømmer, virkesavregning, vil komme etter hvert som tømmeret blir transportert inn og innmålt hos industri.
            </td>
        </tr>
    </table>

    <!-- OPPLYSNINGER OM OPPDRAGET -->  
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2 width="50%"><b>Opplysninger om oppdraget:</b></td>
            <td colspan=2 align="right"><b>Oppdragsdato: {{RegDato}}</b></td>
        </tr>
        <tr>
            <td>Skogeier:</td><td colspan=3>{{Fornavn}} {{Etternavn}} {{LevNr}}-{{Internnummer}}</td>
        </tr>
        <tr>
            <td>Driftsansvarlig:</td>
            <td colspan=3>{{Planlegger.Navn}}, tlf {{Planlegger.Tlf}}, {{Planlegger.epost}}</td>
        </tr>
        <tr>
            <td>Entreprenør:</td><td>{{Entreprenør.Navn}}</td>
            <td align="right">Kontrakt:</td><td>{{KontraktProsjekt}}</td>            
        </tr>
        <tr>
            <td>Planlagt volum:</td><td>{{PlanlAvvirkVol}}</td>
            <td align="right">Ansvarlig sporsletting:</td><td>{{Sporsletting}}</td>            
        </tr>
    </table>

    <p>For din skogsdrift er følgende forhold registrert og forutsatt tatt hensyn til:</p>
    <!-- SORTIMENT -->
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2><b>Sortiments- og kjøperoversikt. Tømmeruttaket vil fremgå av virkesavregningene.</b></td>            
        </tr>
        <tr class="subtableheader">
            <td width="33%">Sortiment</td>
            <td>Foreslått kjøper</td>
        </tr>
        {{#sortiment}}
        <tr>
            <td>{{SortNavn}}</td>
            <td>{{Kjoper}}</td>            
        </tr>
        {{/sortiment}}    
    </table>


    <!-- AVVIK -->
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=2><b>Registrerte avvik av entreprenør</b></td>            
        </tr>
        <tr class="subtableheader">
            <td width="33%">Type</td>
            <td>Utbedres innen</td>
        </tr>
        {{#avvik}}
        <tr>
            <td>{{Type}}</td>
            <td>{{Utbedres}}</td>            
        </tr>
        {{/avvik}}    
    </table>

    <!-- KARTOBJEKTER -->
    <!--<table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td><b>Kartobjekter registrert under drifta (se kartvedlegg)</b></td>            
        </tr>
        <tr class="subtableheader">
            <td>Type</td>            
        </tr>
        {{#kartobjekter}}
        <tr>
            <td>{{Tema}}</td>            
        </tr>
        {{/kartobjekter}}    
    </table> -->

    <!-- FORESLÅTTE TILTAK -->
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td colspan=3><b>Forslag til tiltak på din eiendom</b></td>            
        </tr>
        <tr class="subtableheader">
            <td>Type</td>            
            <td>Delomr/bestand</td>            
            <td>År</td>            
        </tr>
        {{#foreslåttetiltak}}
        <tr>
            <td>{{TiltakForslag}}</td>            
            <td>{{DelomrBest}}</td>            
            <td>{{År}}</td>            
        </tr>
        {{/foreslåttetiltak}}    
    </table>


    <table width="90%" border="0">
            <tr>
                <td>
                    <br/><br/>
                    Be gjerne om tilbud og tjenester du ønsker utført! Besøk oss gjerne på vår hjemmeside www.sbskog.no.<br/><br/>
                    Husk at for mange investeringer i skogbruket kan utgiftene dekkes med bruk av avsatte skogfondsmidler der man kan
                    oppnå skattefordeler. Sjekk tilskuddsordninger i din kommune!
                    <br/><br/>
                    SB SKOG AS takker for oppdraget!
                    <br/><br/>
                    <br/><br/>
                    Med vennlig hilsen<br/>
                    {{Planlegger.Navn}}<br/>
                    SB SKOG AS            
            </td>
        </tr>
    </table>



    

    <figure class="samepage">
        <h3>Oversiktskart {{Navn}}</h3>
        <!-- extra={"{{Tiltak}}WMS": "OID={{OID}}"} -->
        <img class="map" src="{{oversiktskart}}&layername=Rapporter{{Tiltak}}&extra=%7B%22{{Tiltak}}WMS%22%3A%20%22OID%3D{{OID}}%22%7D" alt="" />      
    </figure>


    {{#tiltakTømmerdrift}}
    <figure class="samepage">
      <h3>Delområde {{TiltakNavn}}</h3>
      <!-- extra={"{{Tiltak}}WMS": "OID={{OID}}&DID={{DID}}"} -->
      <img class="map" src="{{detaljkart}}&layername=Rapporter{{Tiltak}}&extra=%7B%22{{Tiltak}}WMS%22%3A%20%22OID%3D{{OID}}%26DID%3D{{DID}}%22%7D" alt="" />      
    </figure>
    {{/tiltakTømmerdrift}}

        <img style="width: 50%;height: auto;" src="https://bitbucket.org/sbskog/sblogg-config/raw/master/tegnforklaring.png" alt=""/>




</body>
</html>
